.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-button {
 border-radius:  0 !important;
 padding: 0% !important;
}

.glitch-icon {
  position: relative;
  display: inline-block;
}

.glitch-icon i:first-child {
  position: relative;
  z-index: 3; 
  color: white;
}


.glitch-layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.menu-button:hover .glitch-icon .layer1 {
  opacity: 1;
  color: cyan;
  filter: saturate(4);
  transform: translate(-2px, -1px);

}

.menu-button:hover .glitch-icon .layer2 {
  opacity: 1;
  color: red;
  filter: saturate(4);
  transform: translate(2px, 1px);

}

.HeroMenu {
  padding-right: calc(var(--bs-gutter-x) * 0.3) !important;
  margin-top: calc(var(--bs-gutter-y)* 0.3) !important;
}